html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D1D1BC;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 1em;
}

a:link,
a:visited,
a:hover
a:active {
  color: #6C8C84;
}

h1#header {
  position: relative;
  height: 50px;
  color: #fff;
  padding: 5px;
  padding-left: 20px;
  line-height: 50px;
  background-color: #302C29;
  font-size: 1.5em;
  font-weight: bold;
  -moz-box-shadow: 0 1px 4px #000;
  -webkit-box-shadow: 0 1px 4px #000;
  box-shadow: 0 1px 4px #000;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}


#container .section {
  margin-bottom: 20px;
}

.section h2 {
  color: #466964;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#leftColumn {
  float: left;
  width: 700px;
}

#rightColumn {
  width: 240px;
  float: right;
}

textarea#markdown {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  font-size: 1em;
  border: 2px solid #D1D1BC;
}

#output {
  background-color: #f8f8f8;
  border: 2px solid #A7C4BB;
  min-height: 100px;
  padding: 10px;
}

#output p {
  line-height: 1.3em;
}

#output h1,
#output h2,
#output h3,
#output h4,
#output h5,
#output h6 {
  font-weight: bold;
  color: #000;
}

#output h1 {
  font-size: 1.7em;
}

#output h2 {
  font-size: 1.5em;
}

#output h3 {
  font-size: 1em;
}

#output ol,
#output ul {
  margin: 0;
}

#output blockquote,
#output pre {
  margin: 0;
  padding: 5px;
  color: #444;
  background-color: #eee;
  border: 1px solid #ddd;
  line-height: 1.5em;
}

#output code {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

 
table#reference {
  width: 238px;
  border: 1px #ddd solid;
  border-collapse: collapse;
  border-spacing: 0;
}

table#reference th {
  border: #ddd solid;
  border-width: 0 0 1px 1px;
  background-color: #eee;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  padding: 5px;
}

table#reference td {
  border: 1px #ddd solid;
  border-width: 0 0 1px 1px;
  text-align: center;
  padding: 5px;
}

#reference p {
  margin: 0;
  padding: 0;
}

#reference ul, ol, blockquote {
  margin: 0;
}

#reference h1,
#reference h2,
#reference h3,
#reference h4,
#reference h5,
#reference h6 {
  font-weight: bold;
  color: #000;
}


#footer {
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #302C29;
  color: #fff;
  line-height: 50px;
  text-align: center;
  -moz-box-shadow: 0 -1px 4px #000;
  -webkit-box-shadow: 0 -1px 4px #000;
  box-shadow: 0 -1px 4px #000;
}

#footer a {
  color: #fff;
}
