html, body {
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #fff;
  overscroll-behavior-y: none;
}

body {
  display: flex;
  flex-direction: column;
  height:100vh;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 1em;
}

a:link,
a:visited,
a:hover
a:active {
  color: #333;
  text-decoration: none;
}

img {
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  background-color: #444;
  font-size: 12px;
  color: #fff;
}

header a:link, header a:hover, header a:visited, header a:active {
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}

#menu-items {
    display: flex;
}

#reset-button {
    margin-left: 16px;
}

#copy-button {
    margin-left: 16px;
}

#sync-button {
    margin-left: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 4px;
    margin-top: 0px;
}

#github {
    padding-right: 32px;
}

#github img {
  display: block;
  width: 16px;
}

#github a {
  display: block;
  width: 16px;
}

/* Dropdown (Export menu) */
.dropdown {
  position: relative;
  margin-left: 16px;
}

header .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2b2b2b;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 10;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #555;
}

header .dropdown-content a {
  color: #f5f5f5;
  padding: 10px 14px;
  display: block;
}

header .dropdown-content a:hover {
  background-color: #3a3a3a;
  text-decoration: none;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

/* Export button hover cue */
#export-button:hover {
  text-decoration: underline;
}

footer {
  padding: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#container {
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
}

#editor-wrapper {
  height: 100%;
}

#editor {
  height: 100%;
}

#preview-wrapper {
  padding: 8px 16px 16px 16px;
}

.column {
  width: 50%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  vertical-align: top;
}

#preview.column {
  overflow-y: scroll;
  white-space: normal;
}

.split-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.editor-pane,
.preview-pane {
  height: 100%;
}

.split-divider {
  width: 5px;
  background: #ccc;
  cursor: col-resize;
  z-index: 1;
}

.split-divider.hover {
  background: #999;
}

.split-divider.active {
  background: #666;
}